[submodule "libs/LastFMData"]
	path = libs/LastFMData
	url = https://github.com/DylanHughes1/AKLastFMData.git
[submodule "libs/wikipedia"]
	path = libs/wikipedia
	url = https://github.com/TomasFelp/wikipedia-module.git
[submodule "libs/NewYorktimes"]
	path = libs/NewYorktimes
	url = https://github.com/FerminAlvarez/NY3-New-York-Times-Data